body {
    position: relative;
    min-height: 100vh;
    padding-top: 2.5rem;
}

footer {
    color: #ffffff;
    background-color: #343434;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
}